{% load static %}
<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
      <title>Carpinteria Chavinda</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

  </head>
  <body>

    <header>
        <div class="full-width">
            <nav class ="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target
                                    ="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Mando's Carpinteria</a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#">Inicio</a></li>
                                <li><a href="#">Acerca de</a></li>
                                <li><a href="#">Contacto</a></li>
                            </ul>
                            <form class="navbar-form navbar-left" role="search">
                               <div class="form-group">
                                   <input type="text" class="form-control" placeholder="Buscar">
                               </div>
                                <button type="submit" class="btn btn-default">Buscar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
        <article>
         <div class="head">
            <div class="container">
                <div class="row">
                    <div class="col-xs-9 col-sm-9">
                        <h1 class="text-uppercase text-center">{{ img.postTitle }}</h1>
                    </div>
                </div>
            </div>
         </div>
            <section>
            <div class="container">
                <div class="row">
                    <div class="col-xs-9 col-sm-9 ">
                            <img class="size" src="{{ img.image.url }}">
                        <p>{{ img.postDescription }}</p>
                        {% if comment != 0 %}
                        {% for comments in comment %}
                            <textarea  rows="2" cols="80" disabled="True">{{ print}} {{comments.createdBy}} dijo: {{ comments.text }}</textarea>
                            <button type="submit" class="btn btn-default vertical">Responder</button><br/>
                        {% endfor %}{% endif %}
                    </div>
                <aside >
                <div class="col-xs-3 col-sm-3 head text-center">
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form }}
                                    <button type="submit" class="btn btn-primary center-block">Enviar</button>
                                </form>
                </div>
                </aside>
                </div>
            </div>

            </section>

        </article>

    <footer>

    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
{#    {% for imgs in img %}#}

{#    {% endfor %}#}